.ant-table-wrapper .ant-table-thead>tr>th {
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: #00adff;
  text-transform: uppercase;
  padding: 12px 6px;
}

footer a {
  font-weight: 600;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 8px 6px;
}

.ant-table-row {
  /* color:red; */
  text-align: center;
}

/* .ant-table-tbody  tr:nth-child(even) {
    background-color: #dddddd;
  } */

.even-row {
  background-color: #dddddd;
}

.even-row:hover {
  background-color: #cccccc;
  /* Màu nền thay đổi khi di chuột vào */
}

.odd-row:hover {
  background-color: #f0f0f0;
  /* Màu nền thay đổi khi di chuột vào */
}


.ant-card .ant-card-head {
  border: 1px solid #000000;
  border-bottom: 1px solid #000000;

}

.ant-card-body {
  border: 1px solid #000000;
  border-bottom: 1px solid #000000;

}

.ant-card .ant-card-body {
  padding: 5px 25px;

}

.ant-card .ant-card-body div {
  text-align: left;
  padding: 5px 25px;
}

.ant-card .ant-card-body div p span {
  font-weight: bold;
  color: blue;
  margin-right: 50px;
}

.ant-card .ant-card-head-title {
  font-weight: bold;
  color: blue;
  font-size: larger;
}

.centerCard {
  display: flex;
  justify-Content: center;
  align-Items: center;
  margin-Top: 30px
}

.hide {
  display: none;
}

.bd-subnavbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.py-2 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

ul li a.nav-link i {
  color: rgb(211, 59, 84);
}


ul li a.btn-bd-logout {
  color: #d33b54;
  border-color: #d33b54;
  font-weight: 500;
  font-size: 16px;
}

.btn-bd-logout:hover,
.btn-bd-logout:active {
  color: #ffffff;
  background-color: #d33b54;
  border-color: #d33b54;
}

.margin-bt {
  margin-bottom: 3px;
}

.content-home{
  padding: 60px 0px 90px;
}

a.nav-link-home {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #424242;
}

a.nav-link-home i {
  display: block;
  font-size: 68px;
  font-weight: bold;
  color: #d33b54;
}

.btn-success {
  background-color: #198754 !important;
}

.btn- {
  background-color: #198754 !important;
}

.react-confirm-alert-overlay{
  z-index: 999999;
}